.navbar-brand img{
    width: 35px;
  }


  .nav-color{
    background-color: rgba(0, 0, 0, 0.201) !important;
    /* background-color: transparent !important; */
    box-shadow: 0 6px 7px -6px rgba(0,0,0,0.45) !important;
   
  }